envs/*
!envs/.gitkeep
pkgs/*
!pkgs/.gitkeep
results/*
!results/.gitkeep
logs/*
!logs/.gitkeep
singularity/*
!singularity/.gitkeep
COBLE-ENV/bin/ahost
docs/first.txt
environment.yml
site/*  
containers/singularity/*
!containers/singularity/.gitkeep
*.sif
*.tar
cap-conda-packages.txt
cap-pip-freeze.txt
cap-r-packages.txt
coble-capture.tmp
coble-capture.txt
requirements.txt
coble-capture.yml
coble-capture-sorted.tmp
coble-capture-reproduce.sh
*.log
*.time
coble-capture-*-recipe.sh
coble-capture-*.yml
*.err
*bak
*.yml.recipe.sh
*.yml.recipe.sh.summary.txt
local/*
myenv/*
xold/*
tutorials/*
config/*
rachel.md
.rachel.md
old/containers/singularity/coble-mini.sif
recipes/carbine_capture.cbl
tests/fixtures/*
!tests/fixtures/*.cbl
tests/fixtures/*_freeze.cbl
recipes/**
!recipes/**/
!recipes/**/*.cbl
!recipes/**/.dockerhub
!recipes/**/*_summary.txt
Miniforge3-Linux-x86_64.sh
