envs/*
!envs/.gitkeep
pkgs/*
!pkgs/.gitkeep
results/*
!results/.gitkeep
logs/*
!logs/.gitkeep
singularity/*
!singularity/.gitkeep
COBLE-ENV/bin/ahost
docs/first.txt
environment.yml
site/*  
containers/singularity/*
!containers/singularity/.gitkeep
*.sif
*.tar
