#!/bin/bash

steps=2 #1,2
steps=",${steps},"

if [[ $steps == *",1,"* ]]; then 

    ### Docker #######################
    echo "[contain.coble] Dockerfile..."
    
    docker build -f code/coble.Dockerfile \
    --build-arg RECIPE_CBL=config/basic.cbl \
    --build-arg BUILD_TAG=basic \
    -t cbl-basic .
    
    echo "[contain.coble] Dockerfile Complete"

fi

if [[ $steps == *",2,"* ]]; then 

### Singularity #######################
echo "[contain.coble] Singularity..."

echo "[contain.coble] ...deleting old tar..."
rm -rf cbl-basic.tar

echo "[contain.coble] ...saving new tar..."
docker save cbl-basic -o cbl-basic.tar

echo "[contain.coble] ...deleting old sif..."
rm -rf cbl-basic.sif

echo "[contain.coble] ...saving new sif..."
singularity build cbl-basic.sif docker-archive://basic-cbl.tar

echo "[contain.coble] Singularity Complete"

fi


